<!DOCTYPE html>
<html>

<head>
    <title>
        TODO web app
    </title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <h1>
        TODO Lists
    </h1>
    <form action="/add" method="post">
        <input type="text" name="todo" required>
        <button type="submit">
            Add
        </button>
    </form>
    <ul>
        {% for todo in todos %}
        <li>
            {{todo.task}} <a href="/delete/{{todo.id}}">
                Remove
            </a>
        </li>
        {% endfor %}
    </ul>
</body>

</html>